body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* White background */
    color: rgb(10, 10, 10); /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px; /* Add padding for better mobile view */
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: green; /* Green color for h1 */
}

h3 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5;
    color: red; /* Red color for h3 */
}

/* Responsive design for mobile view */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }
}